<div class="post-directory">
  <h1>All posts<span class="faded"> (newest to oldest):</span></h1>

  {% set posts = search.pages("type=posts draft=false", "published=desc") %}
  {% ifAsync posts %}
    <ul class="directory">
      {% asyncEach post in posts %}
        {% include "/templates/post-item.njk" %}
        <span class="faded date">
          {% include "/templates/date.njk" %}
        </span>
      {% endeach %}
    </ul>
  {% else %}
    <p>There are no posts to display.</p>
  {% endif %}
</div>