<footer>
  <ul class="menu">
    {% set footerLinks = footer_links %}
    {% for item in footerLinks %}
    <li class="menu-item">
      <a href="{{ item.link }}" target="_blank" class="external">{{ item.title }}</a>
    </li>
    {% endfor %}
    <li class="menu-item">
      <a class="rss" href="/feed.rss" class="button">RSS</a>
    </li>
  </ul>

  <p class="copyright">&copy; {{ website.site_title }} <span id="currentyear">{{ date | date('yyyy') }}</span></p>
  <a class="rss" href="/feed.rss" class="button">RSS</a>
</footer>