<footer>
  {#
  <hr> #}

  <ul class="menu">
    {% set footerLinks = search.pages("type=footerLinks") %}
    {% asyncEach item in footerLinks %}
    <li class="menu-item">
      <a href="{{ item.link }}" target="_blank" class="external">{{ item.title }}</a>
    </li>
    {% endeach %}
    <li class="menu-item">
      <a class="rss" href="/feed.rss" class="button">RSS</a>
    </li>
  </ul>

  {# <ul class="menu">
    <li class="menu-item">
      <a href="https://instagram.com/voidfemmes" target="_blank" class="external">Instagram</a>
    </li>
    <li class="menu-item">
      <a href="https://voidfemmes.bandcamp.com" target="_blank" class="external">Bandcamp</a>
    </li>
    <li class="menu-item">
      <a href="https://shop.voidfemmes.ca" target="_blank" class="external">Shop</a>
    </li>
  </ul> #}

  <p class="copyright">&copy; {% include "/templates/name.njk" %} <span id="currentyear">{{ date | date('yyyy') }}</span></p>
  {# <script>
    date = new Date();
    year = date.getFullYear();

    document.getElementById("currentyear").innerHTML = year;
  </script> #}
  <a class="rss" href="/feed.rss" class="button">RSS</a>
</footer>