<header>
  <h1>
    <a href="/">
      <img src="/assets/images/pinkcircle.png" width="25px;" style="vertical-align:middle">
      <span class="name">{% include "/templates/name.njk" %}</span>
    </a>
  </h1>
  <nav>
    <ul class="menu">
      {% include "/templates/mainmenu.njk" %}
    </ul>
  </nav>
</header>