<header>
  <h1>
    <div id="monogram"></div>
    {# <img src="/assets/images/pinkcircle.png" width="25px;" style="vertical-align:middle"> #}
    <a href="/">
      <span class="name">{{ website.site_title }}</span>
    </a>
  </h1>
  <nav>
    <ul class="menu">
      {% include "/templates/mainmenu.njk" %}
    </ul>
  </nav>
</header>