<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{% include "/templates/name.njk" %} - {{ title }}</title>
	<meta name="theme-color" content="#141414" />
	<link rel="stylesheet" href="/assets/styles.css" />
	<meta name="robots" content="noai, noimageai">
	<link rel="favicon" href="/assets/favicon.ico" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	{% include "templates/header.njk" %}

	<main>
		<aside id="sidebar">
			{% include "/templates/sidebar.njk" %}
		</aside>

		<section id="content">
			{% if title != 'home' and type != 'posts' %}
				<a href="/" alt="Back to home" class="button"><- home</a>
			{% elif type == 'posts' %}
				<a href="/pages/directory" alt="Back to directory" class="button"><- directory</a>
			{% endif %}

			{% if title != 'home' %}
				<h2>{{ title }}</h2>
				<hr class="faded">
			{% endif %}

			{% if author %}
				<h3 class="faded author">
					{{ author }}<span class="faded date">{{ published | date('HUMAN_DATE') }}</span>
				</h3>
			{% endif %}

			<article>
				{% if type == 'posts' %}
					{% if image %}
						<figure>
							<img src="{{ image }}" alt="{{ title }}">
								{% if image_caption %}
									<figcaption>{{ image_caption }}</figcaption>
								{% endif %}
						</figure>
					{% endif %}
				{% endif %}

				{{ content | safe }}

				{# Loop through tags and display them inline, if there are any #}
				{% if tags != false %}
					<div class="tags">
						<h3>Tags:</h3>
						<ul class="taglist">
							{% for tag in tags %}
								<li>{{ tag }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</article>
		</section>
	</main>

	<div class="footer-container">
		{% include "templates/footer.njk" %}
	</div>
</body>

</html>