:root {
  /* Global variables */

  /* Layout */
  --page-width: 72rem;

  /* Key Colours */
  --colour-background: #141414;
  --colour-text: #ffffff;
  --colour-secondary: #ff7ac2;

  /* Mixed colours */
  --colour-light-background: color-mix(in srgb, var(--colour-background) 98%, var(--colour-text) 2%);
  --colour-text-highlight: color-mix(in srgb, var(--colour-background) 85%, var(--colour-text) 15%);
  --colour-text-faded: color-mix(in srgb, var(--colour-background) 60%, var(--colour-text) 40%);

  /* Font sizing */
  --text-small: 12pt;
  --text-medium: 18pt;
  --text-large: 24pt;

  /* Title/logo symbol flourish */
  --sig-symbol: ' ~';
}

/* Fonts */
@font-face {
  font-family: "Fira Code", monospace;
  src: url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap') format("truetype");
  font-optical-sizing: auto;
}

/* General styling */
* {
  color: var(--colour-text);
  font-family: 'Fira Code', monospace, 'Courier New', Courier;
  /* Not sure why, but Fira doesn't seem to _actually_ import with a font-weight of 300, so we're declaring it here. */
  font-weight: 300;
  line-height: 1.6;
}

/* Helpers */

.text-small {
  font-size: var(--text-small) !important;
}

.text-medium {
  font-size: var(--text-medium) !important;
}

.text-lage {
  font-size: var(--text-large) !important;
}

body {
  background-color: var(--colour-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 14pt;
  max-width: var(--page-width);
  margin: auto;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.name {
  color: var(--colour-secondary);
}

#monogram {
  display: inline-block;
  /* margin-right: 1rem; */
  width: 25px;
  height: 25px;
  vertical-align: middle;
  border: 2px solid var(--colour-secondary);
  border-radius: 16px;
}

.name::after {
  content: var(--sig-symbol);
}

/* This is where the page content and the sidebar go. */
main {
  display: flex;
  /* flex-direction: row; */
  column-gap: 1rem;
  /* margin: 0 0 2rem 0; */
  flex: 1 0 auto;
  border: var(--colour-text);
}

main * {
  background-color: var(--colour-light-background);
}

.subheading {
  font-size: smaller;
  color: var(--colour-secondary);
}

.author {
  font-size: var(--text-small);
}

.faded {
  opacity: 0.6;
}

.date {
  font-size: 12pt;
}

.banner {
  max-height: 240px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 4px var(--colour-background);
}

.banner img {
  width: 100%;
  vertical-align: middle;
  height: auto;
}

audio {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border-radius: 4px;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}

article:has(.homepage-excerpt) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

article.homepage-excerpt {
  min-height: 100%;
}

.homepage-excerpt {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: flex-start;
  margin: 1rem 0;
}

.homepage-excerpt figure {
  z-index: 0;
  margin: 1rem 0 0 0;
  max-height: 24ch;
  overflow: hidden;
  background: -webkit-linear-gradient(var(--colour-text), var(--colour-text), var(--colour-text), var(--colour-text), rgba(0, 0, 0, 0.0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 
.homepage-excerpt-container div:nth-child(2)::after {
  content: '[...]';
  margin: 0.5rem 0;
  display: block;
} 
*/

.homepage-excerpt h3 {
  margin: 0 0 1rem 0;
}

.homepage-excerpt-date {
  color: var(--colour-secondary);
  font-size: 12pt;
}

.homepage-excerpt-container {
  display: flex;
  flex-direction: row;
}

.homepage-excerpt-container figure figure>img,
.homepage-excerpt-container figcaption {
  display: none;
}

.directory .date {
  margin-left: 2rem;
}

.date::before {
  content: ' - ';
}

.directory .date::before {
  content: none;
}

header nav {
  display: none;
}

#sidebar,
#content {
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.4);
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 250px;
  flex: 1 3 auto;
}

#sidebar * {
  max-width: 100%;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#sidebar ul li {
  font-size: 12pt;
  line-height: 1.6rem;
  max-width: calc(100% - calc(1rem + 4px));
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}

#sidebar a {
  text-decoration: none;
}

#sidebar a:hover {
  text-decoration: underline;
}

#sidebar .directory li::before,
.directory li::before {
  content: '⟣';
  color: var(--colour-text);
  margin-right: 1rem;
  font-size: smaller;
}

.footer-container-sidebar {
  margin-top: auto;
}

#sidebar footer {
  justify-self: flex-end;
  padding-top: 0;
}

#sidebar footer * {
  flex-direction: column;
}

#sidebar footer .copyright {
  display: none;
}

#sidebar .rss {
  display: none;
}

/* The little guy at the bottom of the sidebar. Currently hidden on mobile */
#sidebar-character {
  display: flex;
  /* margin-top: auto; */
  overflow: hidden;
  max-width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 2px solid var(--colour-secondary);
  box-shadow: 0px 4px 4px black;
}

#sidebar-character img {
  width: 100%;
  object-fit: cover;
}

#post-dir {
  display: flex;
  flex-direction: row;
}

.margin-bar {
  background-color: var(--colour-text-highlight);
  /* width: 4px; */
  min-width: 4px;
  margin: 0 1rem 0 0;
  border-radius: 4px;
}

#post-dir menu {
  width: 100%;
  padding-left: 0;
  margin: 0;
}

#post-dir li:not(:last-child) {
  margin-bottom: .25rem;
}

#content {
  flex: 3 1 auto;
}

/* Do not apply bottom padding to the homepage */
#content article:not(:has(.homepage-excerpt)) {
  padding: 0 0 6rem 0;
}

a {
  color: var(--colour-secondary);
}

.excerpt {
  padding-bottom: 1rem;
}

.excerpt figure {
  padding: 1rem 0;
}

.button {
  margin: 2rem 0;
  font-size: 12pt;
}

#sidebar .button::before {
  content: '-> ';
  color: var(--colour-text);
}

a.external::after {
  content: '↗';
  color: var(--colour-text);
  padding-left: 0.4rem;
  font-size: 10pt;
  vertical-align: top;
  opacity: 0.4;
}

/* Image handling */
figure img {
  margin: auto;
  border: 1px solid var(--colour-secondary);
  border-radius: 8px;
  box-shadow: 0px 6px 4px var(--colour-background);
  max-width: 100%;
}

figure {
  margin: auto;
}

figure.right {
  max-width: 60%;
}

figcaption {
  /* font-style: italic; */
  opacity: 0.6;
  margin: 0.5rem 0 0.75rem 0;
}

/* figcaption::before {
  content: '"';
}

figcaption::after {
  content: '"';
} */

/* For floating images in a body of text, magazine-style. 
   Generally, we want to apply this to a <figure> element. */
.right {
  float: right;
  margin-left: 2rem !important;
}

/* Markdown code elements */
code {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: var(--colour-text-highlight);
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
}

.directory {
  list-style: none;
  overflow: hidden;
  text-overflow: '...';
}

/* Header styles */
header {
  display: flex;
  align-items: baseline;
}

header h1 a {
  font-weight: 100;
  text-decoration: none;
}

/* Nav menu */
.menu {
  display: flex;
}

.menu-item {
  margin-right: 2rem;
  list-style: none;
}

.menu-item a {
  text-decoration: none;
}

.menu-item a:hover {
  text-decoration: underline;
}

/* Footer styles */
.footer-container {
  display: flex;
}

.footer-container footer {
  justify-content: space-between;
}

.footer-container .menu {
  display: none;
}

footer {
  padding: 2rem 0;
  font-size: 12pt;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

footer .menu {
  padding-left: 0;
  margin: 2rem 0;
}

footer a {
  text-decoration: none;
}

/* Mobile styling */
@media screen and (max-width:749px) {
  * {
    font-size: 12pt;
  }

  body {
    width: auto;
    padding: 0 1rem;
  }

  header nav {
    display: block;
  }

  .right {
    float: right;
    margin-left: 1rem !important;
  }

  header {
    flex-direction: column;
  }

  header * {
    font-size: 14pt;
    vertical-align: middle;
  }

  header .menu li:first-child {
    display: none;
  }

  header .menu a {
    font-size: 12pt;
  }

  header .name {
    font-size: 20pt;
  }

  .menu {
    flex-direction: row;
    padding-left: 0;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .rss {
    display: none;
  }

  .menu-item .rss {
    display: block;
  }

  footer a {
    font-size: 14pt;
  }

  .menu {
    flex-wrap: wrap;
  }

  main {
    flex-direction: column;
    row-gap: 1rem;
  }

  #sidebar,
  #content {
    padding: 1rem;
  }

  #sidebar {
    display: none;
  }

  .footer-container-sidebar {
    display: none;
  }

  .footer-container,
  .footer-container .menu {
    display: block;
  }
}